.validation {
    .validation--left {
        position: relative;
        width: 32%;
        display: inline-block;
        padding: 0 10px 15px 25px;
        float: left;

        .main__nav {
            margin: 0 0 20px;

            .btn--master {
                display: block;
                width: 100%;
                padding: 10px 10px;
                margin: 0 0 20px 0;
                color: #000;
                background-color: #FFF;
                font-size: 18px;
                font-size: 1.8rem;
                text-align: left;
                font-weight: 500;
                cursor: pointer;
                -webkit-border-radius: 3px;
                -khtml-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                border-radius: 3px;
                -webkit-box-shadow: 0 0 25px -5px #999;
                -khtml-box-shadow: 0 0 25px -5px #999;
                -moz-box-shadow: 0 0 25px -5px #999;
                -ms-box-shadow: 0 0 25px -5px #999;
                -o-box-shadow: 0 0 25px -5px #999;
                box-shadow: 0 0 25px -5px #999;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;

                &:hover {
                    -webkit-box-shadow: 0 0 25px -5px #999;
                    -khtml-box-shadow: 0 0 25px -5px #999;
                    -moz-box-shadow: 0 0 25px -5px #999;
                    -ms-box-shadow: 0 0 25px -5px #999;
                    -o-box-shadow: 0 0 25px -5px #999;
                    box-shadow: 0 0 15px -5px #999;

                    &:after {
                        color: #777;
                    }
                }

                &.btn--back {
                    text-align: right;

                    &:after {
                        content: "\f100";
                        left: 0;
                        right: inherit;
                        margin: 6px 0 0 35px;
                    }
                }

                &:after {
                    content: "\f101";
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 6px 20px;
                    font-size: 26px;
                    font-size: 2.6rem;
                    color: #999;
                }
            }

            .btn--toggle {
                margin: 10px 0;
                color: #333;
                cursor: pointer;

                &.btn--checked {
                    &:before {
                        content: "\f205";
                    }
                }

                &:before {
                    content: "\f204";
                    padding: 0 5px 00;
                }
            }

            .timeout {
                margin: 10px 0;

                .value--timeout {
                    font-size: 14px;
                    font-size: 1.4rem;
                    padding: 4px;
                    text-align: center;
                    line-height: 1.2;
                }

                .btn--timeout {
                    font-size: 14px;
                    font-size: 1.4rem;
                    background-color: #0492D0;
                    color: #FFF;
                    padding: 4px 10px;
                    -webkit-border-radius: 3px;
                    -khtml-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                    border-radius: 3px;
                    line-height: 1.2;
                    margin: 0 0 0 5px;
                }
            }
        }

        .shadow {
            height: 20px;
            margin: -25px 0 30px -56px;
            position: relative;
            background-color: #FFF;
            border-bottom: 1px solid #EEE;
            z-index: -1;

            &:before {
                content: "";
                width: 100%;
                height: 0;
                position: absolute;
                bottom: 15px;
                left: 0;
                background: #777;
                -webkit-box-shadow: 0 20px 17px 3px #777;
                -khtml-box-shadow: 0 20px 17px 3px #777;
                -moz-box-shadow: 0 20px 17px 3px #777;
                -ms-box-shadow: 0 20px 17px 3px #777;
                -o-box-shadow: 0 20px 17px 3px #777;
                box-shadow: 0 20px 17px 3px #777;
                -webkit-transform: rotate(-1deg);
                -khtml-transform: rotate(-1deg);
                -moz-transform: rotate(-1deg);
                -ms-transform: rotate(-1deg);
                -o-transform: rotate(-1deg);
                transform: rotate(-1deg);
                filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
                zoom: 1;
            }

            &:after {
                content: "";
                width: 110%;
                height: 30px;
                position: absolute;
                left: 0;
                background-color: #F2F2F2;
            }
        }

        .queries__nav {
            margin: 20px 0;

            .nav__item {
                position: relative;
                display: inline-block;
                padding: 10px;
                -webkit-border-radius: 5px;
                -khtml-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                border-radius: 5px;

                &:hover {
                    background-color: #FFF;
                    -webkit-box-shadow: 0 0 15px -5px #999;
                    -khtml-box-shadow: 0 0 15px -5px #999;
                    -moz-box-shadow: 0 0 15px -5px #999;
                    -ms-box-shadow: 0 0 15px -5px #999;
                    -o-box-shadow: 0 0 15px -5px #999;
                    box-shadow: 0 0 15px -5px #999;

                    .btn--checkbox {
                        border-right: 1px solid #F4F4F4;
                    }

                    .btn--label {
                        border-bottom: 1px dashed;
                        margin: 0 0 0 35px;
                        color: #000;
                    }
                }

                .btn--checkbox {
                    position: absolute;
                    left: 0;
                    top: 0;
                    margin: 0;
                    padding: 11px 10px 10px 10px;
                    font-size: 16px;
                    font-size: 1.6rem;
                }
                .btn--label {
                    border-bottom: 1px dashed transparent;
                    margin: 0 0 0 20px;
                    font-size: 16px;
                    font-size: 1.6rem;
                    text-align: left;
                    color: #555;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                }
            }

            .btn--checkbox {
                &:before {
                    content: "\f096";
                }

                &.btn--checked {
                    &:before {
                        content: "\f046";
                    }
                }
            }
        }
    }

    .validation--right {
        position: relative;
        width: 68%;
        padding: 0 15px 15px;
        float: right;

        .output {
            position: relative;
            background-color: #FFF;
            overflow: hidden;
            padding: 25px;
            -webkit-box-shadow: 0 0 75px 10px #CCC;
            -khtml-box-shadow: 0 0 75px 10px #CCC;
            -moz-box-shadow: 0 0 75px 10px #CCC;
            -ms-box-shadow: 0 0 75px 10px #CCC;
            -o-box-shadow: 0 0 75px 10px #CCC;
            box-shadow: 0 0 75px 10px #CCC;

            .empty-message {
                background-color: #FFF;
                color: #999;
            }

            .result-table {
                margin: 0 0 35px 0;

                .combinedResultDescription {
                    padding: 15px 0;
                    color: #333;
                    font-weight: 100;
                }
            }

            table {
                table-layout: auto;
                border-collapse: collapse;
                width: 100%;
                background-color: #FDFDFD;
                -webkit-box-shadow: inset 0 0 15px -5px #999;
                -khtml-box-shadow: inset 0 0 15px -5px #999;
                -moz-box-shadow: inset 0 0 15px -5px #999;
                -ms-box-shadow: inset 0 0 15px -5px #999;
                -o-box-shadow: inset 0 0 15px -5px #999;
                box-shadow: inset 0 0 15px -5px #999;
                -webkit-border-radius: 3px;
                -khtml-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                border-radius: 3px;

                thead {
                    background-color: rgba(0, 0, 0, 0.27);

                    tr {
                        th {
                            font-weight: 100;
                            font-size: 14px;
                            font-size: 1.4rem;
                            color: #FFF;
                        }
                    }
                }

                th,
                td {
                    padding: 7px 10px;
                    text-align: left;
                }

                tr {
                    &:nth-child(even) {
                        background-color: rgba(0, 0, 0, .05);
                    }

                    &.empty-message {
                        background: #FFF;
                        color: #999;

                        td {
                            padding: 5px 0;
                        }
                    }

                    &.pagination-row {
                        background: none;
                        background-color: transparent;

                        .pagination-centered {
                            text-align: center;
                            margin: 10px 0;

                            .pagination {
                                li {
                                    display: inline-block;
                                    border: 1px solid transparent;
                                    -webkit-border-radius: 3px;
                                    -khtml-border-radius: 3px;
                                    -moz-border-radius: 3px;
                                    -ms-border-radius: 3px;
                                    -o-border-radius: 3px;
                                    border-radius: 3px;
                                    margin: 0 1px;
                                    line-height: 1;

                                    a {
                                        display: block;
                                        padding: 5px 10px;
                                    }

                                    &.disabled {
                                        a {
                                            color: #AAA;
                                        }
                                    }

                                    &.active {
                                        border: 1px solid #000;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .validation__content {
                .validation__detail {
                    .block {
                        margin: 0 0 10px;

                        h2 {
                            font-weight: 100;
                            padding: 0 0 3px 0;
                            color: #808080;
                            font-size: 15px;
                            font-size: 1.5rem;
                        }

                        > div {
                            line-height: 1.2;
                        }
                    }
                }

                .validation__table {
                    margin: 25px 0 0;

                    .btn[disabled] {
                        display: none;
                    }

                    table {
                        margin: 25px 0 0;
                    }
                }
            }
        }
    }
}
