.validation {
    .left {

    }

    .right {

    }
}

.result-table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;

    th,
    td {
        padding: 5px;
        text-align: left;
    }

    tr {
        &:nth-child(even) {
            background-color: #FCFCFC;
        }
    }
}
