.validation {

}

.validation .left {
    
}

.validation .right {

}

.result-table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

.result-table th,
.result-table td {
    padding: 5px;
    text-align: left;
}

.result-table tr:nth-child(even) {
    background-color: #FCFCFC;
}
