@import 'button-colors.css';

button.borderless {
  border: 0 none;
}
.list-group-item {
  border: 0 none;
}
button.btn.btn-primary-outline {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
label.btn.btn-block.borderless {
  border-right: 0px;
}
.detailblock span:first-child {
  font-weight: bold;
}
.margin-top {
  margin-top: 20px;
}
.list-group {
  margin-bottom: 0px;
}
.input-group-addon {
  background-color: transparent;
}
.list-group-item.empty-list {

}
.empty-list {
  min-height: 100px;
  text-align: center;
}
.empty-list .empty-message {
  display: inline-block;
  color: #555;
  line-height: 100px;
}

.query-nav,
.query-results {
    padding: 25px;
}

.query-nav .list-group {
    box-shadow: none;
    padding: 0;
}

.query-nav .list-group-item {
    padding: 10px 10px 0 0;
}

.query-nav .input-group-btn {
    width: auto;
}

.query-nav .btn {
    width: auto;
}

.query-results .empty-message {
    text-align: center;
}

.query-details {

}

.query-details .detail-block {
    margin: 10px 0;
}

.query-details .detail-block > h2 {
    font-weight: 100;
    padding: 0 0 3px 0;
    color: #808080;
    font-size: 15px;
    font-size: 1.5rem;
    margin: 0;
}

.query-details .detail-block > div {
    line-height: 1.2;
}

.combinedResultDescription {
    padding: 10px 0;
}
