{{#each-in relationshipsHash as |relationkey relationvalue|}}
    <div class="result-table">
        <div class="combinedResultDescription">
            {{relationvalue.attributes.description}}
        </div>
        <div class="combinedResultTable">
            {{#each relationvalue.attributes.types as |type|}}
                {{result-table included=(get (get includedHash relationkey) type) parameters=relationvalue.attributes.parameters types=type}}
            {{/each}}
        </div>
    </div>
{{/each-in}}
