{{#each validations as |validation|}}
    {{#if (show-validation validation.show platform)}}
        {{#if (show-combined-result validation.id keys)}}
            <div class="result-table">
                <div class="combinedResultDescription">
                    {{validation.description}}
                </div>
                <div class="combinedResultTable">
                    {{#each validation.types as |type|}}
                        {{result-table ruleid=validation.id type=type parameters=validation.parameters onConceptClick=(action 'onConceptClick')}}
                    {{/each}}
                </div>
            </div>
        {{/if}}
    {{/if}}
{{/each}}

{{#each keys as |ruleid|}}
    {{#each rulevalues.types as |type|}}
        {{result-table ruleid=ruleid type=type parameters=rulevalues.parameters onConceptClick=(action 'onConceptClick')}}
    {{/each}}
{{/each}}
