{{#each pagedContent as |item|}}
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.type}}</td>
        {{#each parameters as |param|}}
            {{#unless (eql param "uuid") }}
                <td>
                    {{get item.attributes param}}
                </td>
            {{/unless}}
        {{/each}}
    </tr>
{{/each}}

<tr class="pagination-row">
    {{#if displayPagination}}
        <td colspan="3">
            {{page-numbers content=pagedContent}}
        </td>
    {{/if}}
</tr>
