{{#each pagedContent as |item|}}
    {{result-table-body-row parameters=parameters item=item types=types}}
{{/each}}

<tr class="pagination-row">
    {{#if displayPagination}}
        <td colspan="3">
            {{page-numbers content=pagedContent}}
        </td>
    {{/if}}
</tr>
