<button class="btn" disabled= {{disableButton}} {{action "runQuery"}}>Run query</button>
{{#unless hideTable }}
{{results.data.attributes.keys}}
  {{result-table included=results.included relationships=results.data.relationships parameters=results.data.attributes.parameters types=results.data.attributes.types}}
{{/unless}}
