<button class="btn" disabled= {{disableButton}} {{action "runQuery"}}>Run query</button>

{{#unless hideTable }}
  {{result-table included=results.included relationships=results.data.relationships parameters=results.data.attributes.parameters}}
{{/unless}}
