<button class="btn" disabled= {{disableButton}} {{action "runQuery"}}>Run query</button>

{{#unless hideTable }}
    {{#each tableContent as |content|}}
        {{#each content.types as |type|}}
            {{result-table content=content type=type}}
        {{/each}}
    {{/each}}
{{/unless}}
