<button class="btn" disabled= {{disableButton}} {{action "runQuery"}}>Run query</button>
{{#unless hideTable }}
    {{#each-in separatedIncluded as |typekey typevalue|}}
        {{typekey}}
        {{result-table included=typevalue relationships=results.data.relationships parameters=results.data.attributes.parameters types=typekey}}
    {{/each-in}}
{{/unless}}
