<button class="btn" disabled= {{disableButton}} {{action "runQuery"}}>Run query</button>

{{#unless hideTable }}
    {{#each tableContent as |table|}}
        {{result-table content=table}}
    {{/each}}
{{/unless}}
