<button class="btn" disabled= {{disableButton}} {{action "runQuery"}}>Show query results</button>

{{#unless hideTable }}
    {{#each types as |type|}}
        {{result-table id=id type=type}}
    {{/each}}
{{/unless}}
