<div class="header">
    <h1>Validation</h1>
</div>
<div class="body">
    <div class="section intro">
        <div class="section__title">
            Choose a rule on the bottom!
        </div>
        <div class="section__body">
            The details of the rule can be viewed by clicking on it. This also gives an option to run it. <br> If a rule is already running, you cannot start running another one. <br> Running a rule can take up to 8-10 minutes. You can either stay on
            the page and wait for the results to appear or come back later. If you come back later and the rule is finished, you can find it in the timestamp list. <br> If a rule already ran before, you will see a list of timestamps you can choose from
            to download the previous results. <br> If you just started running a rule, it will appear in this list when the execution finished.
        </div>
    </div>
</div>
<div class="selector">
    {{#power-select options=validationsData selected=validation-to-show onchange=(action "showValidation") as |rule|}}
        {{rule.name}}
    {{/power-select}}
</div>
{{#if validation-to-show}}
    <div class="body">
        <div class="section">
            {{validation-detailed-view validation=validation-to-show onConceptClick=(action 'onConceptClick') languageOptions=languageOptions defaultLanguage=defaultLanguage}}
        </div>
    </div>
{{/if}}
