{{#if validation}}
  <div class="">
    {{validation-details description=validation.description query=validation.query types=validation.types parameters=validation.parameters}}
  </div>
  <div class="">
    {{show-result id=validation.id parameters=validation.parameters cache=cache}}
  </div>
{{else}}
  <div class="">
    <div class="empty-message">Choose a rule!</div>
  </div>
{{/if}}
