<div class="validation">
    <div class="validation--right">
        <div class="output">
          {{#if combinedTables}}
            {{combined-result-tables keys=selectedKeys validations=validationsData platform=platform onConceptClick=(action 'onConceptClick')}}
          {{/if}}
        </div>
    </div><!-- /.right -->
</div><!-- /.validation -->
