<div class="validation__content">
    {{#if validation}}

        <div class="validation__detail">
            {{validation-details description=validation.description query=validation.query types=validation.types parameters=validation.parameters showDetails=false}}
        </div>
        <div class="validation__table">
            {{show-result ruleid=validation.id hideTable=true disableButton=false types=validation.types parameters=validation.parameters onConceptClick=(action 'onConceptClick')}}
        </div>

    {{else}}
        <div class="empty-message">Choose a rule!</div>
    {{/if}}
</div>
