<div class="input-group">
  <div class="input-group-btn" data-toggle="buttons" {{action "setChecked"}}>
    {{#if checked}}
      <label class="btn active">
        <input type="checkbox" /> Select
      </label>
    {{else}}
      <label class="btn">
        <input type="checkbox" /> Select
      </label>
    {{/if}}
  </div>
  <button type="button" class="btn" {{action "showValidation"}}>
    {{validation.name}}
  </button>
</div>
